{% extends "layout.html" %} {% block title %} Potluck Party: Confirm Event{%
endblock %} {% block main %}
<h1>We're so excited you can make it!</h1>

<div class="container">
  <form action="/yes" method="post">
    <label for="yes">You are attending the event</label>
    <input name="response" value="yes" type="text" />
    <label for="name">Type in your name one more time</label>
    <input name="name" type="text" />
    <h6>This event needs</h6>
    <ul>
      {% for dish in dishes %}
      <li>{{ dish }}</li>
      {% endfor %}
    </ul>
    <label for="dishtype">Please tell us which type of dish you'll bring</label>
    <div>
      <label for="dishtext">Type in what you will bring</label>
      <input type="text" name="dishtext" placeholder="pepperoni pizza" />
      <input type="number" name="dishtype" min="1" max="5" />
    </div>
  </form>
  <p>
    Please use this list for the type of dish you're bringing and input the
    cooresponding number
  </p>
  <ol>
    <li>Entree</li>
    <li>Side-dish</li>
    <li>Dessert</li>
    <li>Beverages</li>
    <li>Dish Ware</li>
  </ol>
</div>
<a href="{{ url_for ('recipes') }}" target="_blank"
  >Search for Dish Ideas here!</a
>
{% endblock %}
