{% extends "layout.html" %} {% block title %} Potluck Party: Confirm Event{%
endblock %} {% block main %}
<h1>We're so excited you can make it!</h1>

<div class="container">
  <form action="/yes" method="post">
    <label for="yes" class="form-label">You are attending the event</label>
    <input name="response" value="yes" type="text" />
    <label for="name" class="form-label">Type in your name one more time</label>
    <input name="name" type="text" />
    <h6>This event needs</h6>
    <ul>
      {% for dish in dishes %}
      <li>{{ dish }}</li>
      {% endfor %}
    </ul>
    <div class="container eventcontainer">
      <label for="dishtext" class="form-label"
        >Type in what you will bring to the party and what type of dish it will
        be:</label
      >
      <input
        type="text"
        name="dishtext"
        placeholder="pepperoni pizza"
        class="form-control"
        required
      />
      <input
        type="number"
        name="dishtype"
        min="1"
        max="5"
        class="form-control"
        required
      />
    </div>
  </form>
  <p>
    Please use this list for the type of dish you're bringing and input the
    cooresponding number:
  </p>
  <ol>
    <li>Entree</li>
    <li>Side-dish</li>
    <li>Dessert</li>
    <li>Beverages</li>
    <li>Dish Ware</li>
  </ol>
</div>
<a href="{{ url_for ('recipes') }}" target="_blank"
  ><strong>Search for Dish Ideas here!</strong></a
>
{% endblock %}
