body {
  background-color: rgb(245, 186, 245);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  background-color: lavender;
  list-style: none;
}

.main-container {
  background-color: aliceblue;
  margin-top: 10px;
}

.background {
  background-image: url("potluck.jpg");
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.header {
  font-size: 60px;
  font-style: bold;
}
.profilename,
.recipes {
  font-family: Garamond;
  color: indigo;
  margin: 5px auto;
}

.centerbtn {
  display: flex;
  justify-content: center;
}

.profilebtn,
.recipebtn {
  background-color: darkgrey;
  margin-bottom: 10px;
  color: white;
}

.profilebtn:hover,
.recipebtn:hover {
  background-color: darkslategrey;
  transition: 0.7s;
  color: white;
}

.recipesearch {
  margin: 5px auto;
}

.eventcontainer {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}
