{% extends "layout.html" %} {% block title %} Event Planning {% endblock %} {%
block main %}
<div class="mb-4">
  <h1>Plan your next Potluck Party!</h1>
</div>
<form action="/events" method="post">
  <div class="mb-3">
    <label for="eventtitle" class="form-label">Potluck Title</label>
    <input
      type="text"
      class="form-control"
      id="eventtitle"
      name="eventtitle"
      placeholder="ex: Pizza Party Potluck"
    />
  </div>
  <div class="mb-3">
    <label for="datetime" class="form-label">Enter a date and time:</label>
    <input
      id="datetime"
      type="datetime-local"
      name="datetime"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="eventtheme" class="form-label">Is there a Theme?</label>
    <input
      type="text"
      class="form-control"
      id="eventtheme"
      name="eventtheme"
      placeholder="Pie Day!"
    />
  </div>
  <div class="mb-3">
    <label for="eventlocation" class="form-label">What is the location?</label>
    <input
      type="text"
      class="form-control"
      id="eventlocation"
      name="eventlocation"
      placeholder="The Office LunchRoom"
    />
  </div>
  <h4>How many of each dish do you need?</h4>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" name="entree" id="entree">Entree</span>
    </div>
    <input
      type="number"
      min="1"
      max="10"
      name="amount_of_entree"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" name="side_dish" id="side_dish"
        >Side Dish</span
      >
    </div>
    <input
      type="number"
      min="1"
      max="10"
      name="amount_of_sidedish"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" name="dessert" id="dessert">Dessert</span>
    </div>
    <input
      type="number"
      min="1"
      max="10"
      name="amount_of_dessert"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" name="beverages" id="beverages"
        >Beverages</span
      >
    </div>
    <input
      type="number"
      min="1"
      max="10"
      name="amount_of_beverage"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" name="dish_ware" id="dish_ware"
        >Dishware</span
      >
    </div>
    <input
      type="number"
      min="1"
      max="10"
      name="amount_of_dishware"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <input type="submit" value="Create Event" />
</form>
{% endblock %}
