{% extends "layout.html" %} {% block title %} Profile {% endblock %} {% block
main %}
<div class="container">
  <h1 class="profilename">Welcome {{ session.username }}!</h1>
</div>
<br />
<br />
<p class="text-center">
  Here is your event, who has replied, and what dish they are bringing
</p>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">Event Title</th>
      <th scope="col">Event Date</th>
      <th scope="col">Event Theme</th>
      <th scope="col">Event Location</th>
    </tr>
  </thead>
  <tbody>
    {% for data in event_data %}
    <tr>
      <td scope="row">{{ data[0] }}</td>
      <td>{{ data[1] }}</td>
      <td>{{ data[2] }}</td>
      <td>{{ data[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Guest Name</th>
      <th scope="col">RSVP (yes/no)</th>
      <th scope="col">What dish are they bringing?</th>
    </tr>
  </thead>
  <tbody>
    {% for data in event_data %}
    <tr>
      <td>{{ data[4] }}</td>
      <td>{{ data[5] }}</td>
      <td>{{ data[6] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="container centerbtn">
  <button type="submit" class="btn profilebtn">
    <a href="{{ url_for ('events') }}">Create a new event here!</a>
  </button>
</div>

{% endblock %}
