{% extends "layout.html" %} {% block title %} Dish Ideas {% endblock %} {% block
main %}
<div class="container">
  <h1>Search For Recipe Ideas Here!</h1>
</div>
<form action="/recipes" method="post">
  <input
    class="mr-sm-2"
    type="search"
    placeholder="ex: Chicken Soup"
    aria-label="Search"
    name="search"
  />
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
    Search
  </button>
</form>
<h2>Recipes</h2>

<div class="row">
  {% for recipe in recipe_list %}
  <div class="col-md-6 mb-3">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ recipe['image'] }}"
        alt="{{ recipe['label'] }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ recipe['label'] }}</h5>
        <p class="card-text">source: {{ recipe['source'] }}</p>
        <a href="{{ recipe['url'] }}" target="_blank" class="btn btn-primary"
          >Get Recipe</a
        >
      </div>
    </div>
  </div>
  {% if loop.index is divisibleby 2 %}
</div>
<div class="row">{% endif %} {% endfor %}</div>
{% endblock %}
