{% extends "layout.html" %} {% block title %} Dish Ideas {% endblock %} {% block
main %}
<div class="container">
  <h1>Search For Recipe Ideas Here!</h1>
</div>
<form action="/recipes" method="post">
  <input
    class="mr-sm-2"
    type="search"
    placeholder="ex: Chicken Soup"
    aria-label="Search"
    name="search"
  />
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
    Search
  </button>
</form>
<h2>Recipes</h2>
<div class="container">
  {% for row in recipes|batch(3) %}
  <div class="row">
    {% for column in row %}
    <div class="col border border-info mb-3">
      <div>{{ column.recipe.label }}</div>
      <div>{{ column.recipe.image }}</div>
      <div>{{ column.recipe.dish_type }}</div>
      <div>{{ column.recipe.url }}</div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% endblock %}
