{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
  <div class="card eventcontainer">
    <div class="card-body">
    <h4 class="text-center">Plan Your Potluck!</h4>
    <p class="text-center">- Invite Friends</p>
    <p class="text-center">- Create Events</p>
    <p class="text-center">- Find Recipes</p>
    <p class="text-center">- Get Reminders</p>
    </div>
  </div>
  <div class="container eventcontainer">
    <div class="col-8 text-center">
      <h1 class="mb-3">Register Here</h1>
      <form action="/register" method="post">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            autofocus
            name="username"
            placeholder="Username"
          />
        </div>
        <div class="mb-3">
          <input
            class="form-control"
            name="password"
            placeholder="Password"
            type="password"
          />
        </div>
        <div>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Email"
          />
        </div>
        <div class="mt-5">
          <button type="submit" class="btn btn-info">Sign Up!</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
