{% extends "layout.html" %} {% block title %} Potluck Party: Confirm Event{%
endblock %} {% block main %}
<h1>Send Invitations</h1>
<div>
  {% for data in event_data %}
  <h5>{{ data[1] }}</h5>
  <h4>{{ data[3] }}</h4>
  <h4>{{ data[4] }}</h4>
  {% endfor %}
  <h4>{{ formatted_datetime }}</h4>
  {% for x,y in dishes_needed %}
  <li>You need {{ y }} of {{ x }}</li>
  {% endfor %}
</div>
<h2>Please enter the emails and names of the people you'd like to invite.</h2>
<h3>
  Once you have entered them all, hit submit and the invitations will be sent!
</h3>
<form action="/confirm" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name1" required />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name2" required />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name3" required />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name4" required />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name5" required />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name6" required />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name7" required />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <input type="submit" value="Send Invitations" />
</form>

{% endblock %}
