{% extends "layout.html" %} {% block title %} Potluck Party: new event {%
endblock %} {% block main %}
<h1>Here is what you want for your Potluck</h1>
<p>
  Please check it over, add how many dishes you need of each type, and hit
  submit when you're ready!
</p>
<form action="/events/newevent" method="post">
  <div>
    <label for="event">Title:</label>
    <input type="text" id="event" name="name" value="{{ name }}" required />
    <label for="event">Theme:</label>
    <input type="text" id="event" name="theme" value="{{ theme }}" required />
    <label for="event">Location:</label>
    <input
      type="text"
      id="event"
      name="location"
      value="{{ location }}"
      required
    />
    <label for="event">Date & Time:</label>
    <input
      type="text"
      id="event"
      name="datetime"
      value="{{ datetime }}"
      required
    />
  </div>
  {% if 'entree' in selected_dishes %}
  <label for="numberofdishes">How Many Entrees?:</label>
  <input
    type="number"
    min="1"
    max="10"
    name="entrees"
    id="numberofdishes"
  /><br />
  {% endif %} {% if 'sidedish' in selected_dishes %}
  <label for="numberofdishes">How Many Side-Dishes?:</label>
  <input
    type="number"
    min="1"
    max="10"
    name="side_dish"
    id="numberofdishes"
  /><br />
  {% endif %} {% if 'dessert' in selected_dishes %}
  <label for="numberofdishes">How Many Desserts?:</label>
  <input
    type="number"
    min="1"
    max="10"
    name="desserts"
    id="numberofdishes"
  /><br />
  {% endif %} {% if 'beverage' in selected_dishes %}
  <label for="numberofdishes">How Many Beverages?:</label>
  <input
    type="number"
    min="1"
    max="10"
    name="beverages"
    id="numberofdishes"
  /><br />
  {% endif %} {% if 'dishware' in selected_dishes %}
  <label for="numberofdishes">How Much Dish-Ware?:</label>
  <input
    type="number"
    min="1"
    max="10"
    name="dish_ware"
    id="numberofdishes"
  /><br />
  {% endif %}
  <input type="submit" value="Confirm Event" />
</form>
{% endblock %}
